<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/css/styles2.css' %}">
</head>
<body>
<div class="bg-image"></div>

    <h1>Weather Application</h1>

    <div class="bg-text">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                <div class="input-container">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
                <div class="input-container">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            </div>

            <button type="submit">Login</button>
        </form>

        <p>
            <a href="{% url 'signup' %}" style="color: #a3e4d7;">Don't have an account? Signup here</a>
        </p>
    </div>

</body>
    
    
</html>
