<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/css/styles1.css' %}">
</head>
<body>

<div class="bg-image"></div>

<h1>Weather Application</h1>

<div class="bg-text">
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
            <div class="input-container">
                {{ form.username }}
                {{ form.username.errors }}
                <div class="helptext" id="id_username_helptext">
                    (Username must be 150 characters or fewer. Letters, digits, and @/./+/-/_ only.)
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
            <div class="input-container">
                {{ form.email }}
                {{ form.email.errors }}
                <div class="helptext" id="id_email_helptext">
                    (Please enter a valid email address.)
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}:</label>
            <div class="input-container">
                {{ form.password }}
                {{ form.password.errors }}
                <div class="helptext" id="id_password_helptext">
                    (Your password must be at least 8 characters long.)
                </div>
            </div>
        </div>

        <button type="submit">Signup</button>
    </form>

    <p>
        <a href="{% url 'login' %}" style="color: #a3e4d7;">Already have an account? Login here</a>
    </p>
</div>

</body>
</html>
