<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/css/styles3.css' %}">
</head>
<body>

    <div class="bg-image"></div>
    <div class="content">
        <div class="header">
            <h1 class="header-title">Weather Application</h1>
            <a class="logout" href="{% url 'logout' %}">Logout</a>
        </div>

        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    <div class="alert-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'add_country' %}">
            {% csrf_token %}
            <input type="text" name="country_name" placeholder="Enter city name....."><button type="submit">Add</button>
        </form>
        <div class="weather-data">
            {% for data in weather_data %}
            <div class="bg-text">
                <div class="card">
                    <div class="cities">
                        <div class="card-city-name">
                            <div class="name">{{ data.country_name }}</div><br>
                            {{data.date}}<br>
                            {{data.time}}<br>
                        </div>
                        <div class="temp-details">
                            <div class="weather_condition"><i class='fas fa-cloud-moon'></i>{{data.weather_condition}}</div>
                            <div class="temperature-columns">
                                <div class="temperature">{{data.temperature}}°C</div>
                                <div class="temp-range">
                                    <div class="temp_min">{{data.temp_min}}°C</div>
                                    <div class="temp-line"></div>
                                    <div class="temp_max">{{data.temp_max}}°C</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="weather-details">
                            <div class="weather-row">
                                <div class="weather-box">
                                    <i style='font-size:24px' class='fas fa-temperature-low'></i>
                                    Humidity
                                    {{data.humidity}}%
                                </div>
                                <div class="weather-box">
                                    <i style='font-size:24px' class='fas fa-wind'></i>
                                    Wind
                                    {{data.wind_speed}}km/h
                                </div>
                                <div class="weather-box">
                                    <i style="font-size:24px" class="fa fa-compass"></i>
                                    Pressure
                                    {{data.pressure }}hPa
                                </div>
                            </div>
                            <div class="weather-row">
                                <div class="weather-box">
                                    <i style="font-size:24px" class="fa fa-eye"></i>
                                    Visibility
                                    {{data.visibility}}km
                                </div>
                                <div class="weather-box">
                                    <i style="font-size:24px" class="fa fa-thermometer"></i>
                                    Feels like
                                    {{data.feels_like}}°
                                </div>
                                <div class="weather-box">
                                    <i style='font-size:24px' class='fas fa-temperature-high'></i>
                                    Dew Point
                                    {{data.dew_point}}°
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a href="{% url 'remove_country' data.id %}">Remove</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>
